In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import learning_curve 
from sklearn.metrics import make_scorer, r2_score 
from sklearn.linear_model import LinearRegression

In [2]:
%matplotlib inline

In [16]:
name = ['Нефть', 'Золото', 'Платина', 'Газ', 'Медь']
ex_usd = [110968247000, 17362166000, 704591000, 7320221000, 3693017000]
global_ex_share = [14, 6, 7, 5, 5]
ADTV_usd = [1774979618, 297640875, 4568064, 63219642, 23479]

df = pd.DataFrame(columns = ['Name', 'ex_usd', 'global_ex_share', 'ADTV_usd'])
for i in zip(name, ex_usd, global_ex_share, ADTV_usd):
    row = {'Name': i[0], 'ex_usd': i[1], 'global_ex_share': i[2], 'ADTV_usd': i[3]}
    df = df.append(row, ignore_index = True)
df

      Name        ex_usd global_ex_share    ADTV_usd
0    Нефть  110968247000              14  1774979618
1   Золото   17362166000               6   297640875
2  Платина     704591000               7     4568064
3      Газ    7320221000               5    63219642
4     Медь    3693017000               5       23479

In [17]:
res = df[['ADTV_usd']]
ent = df[['ex_usd', 'global_ex_share']]

In [18]:
model = LinearRegression()
model.fit(ent, res)
model.score(ent, res)

0.9984829672050836

In [19]:
model.coef_

array([[1.53639070e-02, 1.18191515e+07]])

In [20]:
model.intercept_

array([-89713018.14667541])

In [44]:
new_name = ['Каменный уголь', 'Пшеница', 'Удобрения', 'Подсолнечник', 'Ячмень', 'Гречиха', 'Рожь']
new_ex_usd = [16506417000, 7173222000, 4932023000, 2431389000, 964468000, 44291000, 20980000]
#у гречихи и ржи настоящие 33 и 5
new_global_ex_share = [16, 14, 17.8, 21, 9, 8, 8]
df1 = pd.DataFrame()
df1['Name'] = new_name
df1['ex_usd'] = new_ex_usd
df1['global_ex_share'] = new_global_ex_share
df1

             Name       ex_usd  global_ex_share
0  Каменный уголь  16506417000             16.0
1         Пшеница   7173222000             14.0
2       Удобрения   4932023000             17.8
3    Подсолнечник   2431389000             21.0
4          Ячмень    964468000              9.0
5         Гречиха     44291000              8.0
6            Рожь     20980000              8.0

In [45]:
inp = df1[['ex_usd', 'global_ex_share']]
z = model.predict(inp)
a = np.int_(z)
df1['ADTV_usd'] = a
df1

             Name       ex_usd  global_ex_share   ADTV_usd
0  Каменный уголь  16506417000             16.0  352996461
1         Пшеница   7173222000             14.0  185963818
2       Удобрения   4932023000             17.8  196443021
3    Подсолнечник   2431389000             21.0  195844798
4          Ячмень    964468000              9.0   31477342
5         Гречиха     44291000              8.0    5520677
6            Рожь     20980000              8.0    5162528

In [46]:
pd.concat([df, df1], join='outer')

             Name        ex_usd global_ex_share    ADTV_usd
0           Нефть  110968247000              14  1774979618
1          Золото   17362166000               6   297640875
2         Платина     704591000               7     4568064
3             Газ    7320221000               5    63219642
4            Медь    3693017000               5       23479
0  Каменный уголь   16506417000              16   352996461
1         Пшеница    7173222000              14   185963818
2       Удобрения    4932023000            17.8   196443021
3    Подсолнечник    2431389000              21   195844798
4          Ячмень     964468000               9    31477342
5         Гречиха      44291000               8     5520677
6            Рожь      20980000               8     5162528